body,
html {
    color: black;
    height: 100%;
}
a{  
    text-decoration: none;  
    color: brown;  
    background-color: pink;  
    font-family: Arial;  
    }  
    p{  
    font-size: 20px;  
    }  
#hero {
    min-height: 100vh;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Container {
    background-color: white;
    border: solid .2em #ffc107;
    border-radius: .5em;
    box-sizing: border-box;
    flex: 0 0 30%;
    height: 240px;
    margin-top: 1em;
    overflow: auto;
}


#taskItems {
    overflow: hidden;
    position: relative;

}

#taskItems .scrollbox {
    height: 100%;
    overflow: auto;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    background-color: lightgray;
    color: #212121;
    margin: .25em;
    padding: .5em;
}
